.borda {
    border:solid 1px silver;
    border-radius: 6px;
    border-color: greenyellow;   
    background-color: greenyellow; 
}

.bg-custom {
    background-color: black;; 
  }

  .bike-fundo {
    background-image: url('/assets/bike-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  label{
    color: white !important;
  }
 

  .footer {
    background-color: white;
    height: 0px;
    position:fixed ;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; 
  }

    
     
    